body{
  margin: 0;
  padding: 0;
  background-color: rgb(236, 222, 202);
}
.header{
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  text-align: left;
  border: 1px solid black;
}
.left{

}
.right{
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.search{
  background-color: rgb(147, 179, 238);
  border-style: none;
  border-radius: 4px;
}