/* 썸네일을 포함하고 있는 div */
.thumbnail_grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* fr(fraction) : 사용 가능한 공간의 일부분
같은 비율로 공간을 나눈다고 생각하면 된다. */

/* 썸네일 이미지 */
.thumbnail{
  width: 100%;
}
#stat_bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.stat{
  text-align: center;
}

/* 프로필 사진의 컨테이너 */
#profile_pic{
  width: 50px;
  height: 50px;
}
/* 하이라이트 사진의 컨테이너 */
.highlight_pic{
  width: 35px;
  height: 35px;
}

/* 원형으로 만드려는 이미지 */
.circle_pic{
  border: 1px solid white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* 하이라이트 영역 grid 사용하여 정렬하기 */
#highlight_area{
  display: grid;
  grid-template-columns: 45px 45px 1fr;
}
.highlight{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#profile{
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}
#profile_info{
  display: grid;
  grid-template-rows: 1fr 1fr;

  height: 50px;
}
#id {
  font-size: 18px;
  font-weight: bold;
}
/* 인스타그램과 유사하게 버튼 디자인을 수정하려면 다음과 같은 항목들을 수정해야 한다.
1. height
2. width
3. font-size
4. backgroind
5. border
6. border-radius */
button{
  height: 80%;
  width: 95%;

  font-size: 10px;
  background-color: white;
  border: solid gray 1px;
  border-radius: 3px;
}
a{
  text-decoration: none;
  color: blue;
}
a:hover{
  color: red;
}
a:active{
  color: cornflowerblue;
}